######################################################################
### GIT IGNORE
#---------------------------------------------------------------------
### Terraform gitignore 👉 https://github.com/github/gitignore/blob/master/Terraform.gitignore

# Local .terraform directories
**/.terraform
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern (!example_override.tf)
# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan (*tfplan*)
# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terragrunt docs recommend adding this to gitignore
.terragrunt-cache

#---------------------------------------------------------------------
### NERDWARE gitignore ENTRIES:

# Notes
TODO*
FIXME*
NOTE*

# Security
*.bak
*.ca
*.crt
*.csr
*.der
*.env
*.env.*
*.env*
*.kdb
*.mwb
*.org
*.p12
*.pem
*.rnd
*.smime
*.sql
*.ssleay
schema.json

# Logs
logs
*.log

# VSCode Related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Diagnostic Reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

#---------------------------------------------------------------------
### Project-Specific gitignore ENTRIES:

# Necessary to override above exclusion of *.env pattern:
!local.envoy_image.tf

######################################################################
